/*Color used
rgb(76, 77, 71)
rgb(83, 107, 34)
*/


*{
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

.upper-container{
    width: 100%;
    min-height: 15vh;
    max-height: 100vh;
    background-color: rgba(240, 240, 240, .5)
}

.bottom-container{
    width: 100%;
    min-height: 85vh;
    max-height: 100vh;
    background-color: rgb(76, 77, 71);
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.bottom-container .game-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bottom-container .game-container span{
    color: white;
    font-size: 3.2em;
    font-weight: bolder;
}

.bottom-container .game-container label{
    background-color: crimson;
    padding: .3em .7em;
}

.bottom-container .game-container .user{
    margin-right: 1em;
}

.bottom-container .game-container .comp{
    margin-left: 1em;
}

.game-roll{
    display: flex;
    justify-content: center;
    padding-top: 2em;
    flex-wrap: wrap;
}

.game-roll .fa-hand-rock{
    border-radius: 40px;
    background-color: white;
    padding: 1em 1em;
    margin-right: .5em;
}

.game-roll .fa-hand-paper{
    border-radius: 40px;
    background-color: white;
    padding: 1em 1em;
    margin-right: .5em;
}


.game-roll .fa-hand-scissors{
    border-radius: 40px;
    background-color: white;
    padding: 1em 1em;
    margin-right: .5em;
}

.far{
    font-size: 1.5em;
}

.game-roll .fa-hand-rock:hover{
    border: 3px solid green;
}

.game-roll .fa-hand-paper:hover{
    border: 3px solid green;
}

.game-roll .fa-hand-scissors:hover{
    border: 3px solid green;
}

.scoreboard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 45vh;
    max-height: 100vh;
    margin-top: 1em;
}

.scoreboard .far{
    font-size: 3em;
    padding: .5em .5em;
    border-radius: 60px;
    background-color: white;
}

.boardresult{
    color: white;
}

.boardresult .myresult{
    background-color: crimson;
    font-weight: bold;
    padding: .5em .5em;
}

.who{
    font-weight: bold;
    color: white;
}


.userchoosingchoice .who{
    margin-left: 1.8em;
}

/*--------------------------------------------------*/
.timecounter-container{
    width: 100%;
    min-height: 9vh;
    max-height: 100vh;
    display: flex;
}

.timecounter-container .counter{
    flex-grow: .5;
    display: flex;
    justify-content: flex-end;
}

.timecounter-container .counter .Dcounter{
    background-color: white;
    padding: .9em .8em;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bolder;
}

.timecounter-container .instructionBtn{
    flex-grow: .5;
    display: flex;
    justify-content: flex-end;
}

.timecounter-container .instructionBtn aside{
    background-color: white;;
    padding: .4em .4em;
    display: flex;
    justify-content: center;
    align-items:center; 
}

/*------------------------------------------------------*/
.instruction-modal{
    background-color: rgba(76, 77, 71, .4);
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 15;
    top: 0;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruction-modal .instruction-container{
    background-color: white;
    min-width: 35vw;
    max-width: 100vw;
    min-height: 50vh;
    max-height: 100vh;
    border-radius: 30px;
}

.instruction-modal .instruction-container .top-reset{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruction-modal .instruction-container .instructionBoard{
    min-height: 43vh;
    max-height: 100vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.instruction-modal .instruction-container .instructionBoard .gamesymbols{
    display: flex;
    height: 18vh;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

.instruction-modal .instruction-container .instructionBoard .gamesymbols aside{
    background-color: rgba(220, 220, 220);
    padding: 1.5em 1.5em;
    border-radius: 90px;
    text-align: center;
}

.instruction-modal .instruction-container .instructionBoard .rules{
    margin-top: .4em;
}

.instruction-modal .instruction-container .instructionBoard .startbtn button{
    background-color: green;
    padding: 1em 1.5em;
    font-weight: bold;
}

.instruction-modal .instruction-container .instructionBoard .startbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    height: 12vh;
}

.instruction-modal .instruction-container .instructionBoard .startbtn button:hover{
    background-color: rgba(0, 255, 0, .8);
}